body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header {
    background-color: black;
    color: white;
    user-select: none;
    padding: 5px;
    text-align: center;
}

body {
    background-color: lightgray;
}

.image {
    width: 20px;
    height: 20px;
}

button#copiar {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;

    font-weight: bolder;
}

.input {
    height: 20px;
    width: 200px;
    border: 1px solid black;
}

section {
    display: inline-block;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

#gerador {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-60%);
}

button#copiar:hover {
    background-color: lightgray;
}

#verificador {
    position: fixed;
    top: 45%;
    left: 50%;

    transform: translateX(-55%);
}

.menu2 {
    text-align: center;
}

#resultado {
    font-weight: bolder;
    display: none;
}

footer {
    font-size: 20px;
    position: fixed;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0px;
}

footer a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}